body{
    
    background-color: bisque;
}

.heading h1{
    color: rgb(238, 11, 11);
    display: flex; justify-content: center; align-items: center; ;
}
.elements{
    margin-left: 500px;
    padding: 30px 30px;
    background-color: aqua;
    margin-right: 400px;
}
#btn{
    margin-left: 50px;
    background-color: rgb(174, 174, 216);
}
#btn:hover{
    background-color: rgb(39, 39, 190);
}

